@font-face {
  font-family: 'Harmonias Demo';
  src: url('/fonts/harmonias-demo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
